# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
env/
ENV/

# IDEs
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# Logs
*.log
